{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="flex-container">
       <header class="animated-header">
            <div class="container flex-header">
                <div class="logo">
                    <a class="navbar-brand">РЕПЕТИ_TOP</a>
                </div>
                <nav class="navbar navbar-expand-md">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a href="{% url 'home' %}" class="btn btn-primary">Главная</a></li>
                            {% if user.is_authenticated %}
                            <li class="nav-item"><a href="{% url 'course_list' %}" class="btn btn-course">Курс</a></li>
                            <li class="nav-item"><a href="{% url 'account' %}" class="btn btn-primary">Аккаунт</a></li>
                            <li class="nav-item"><a href="#" class="btn btn-primary">Информатика</a></li>
                            {% else %}
                            <li class="nav-item"><a href="{% url 'login' %}" class="btn btn-primary">Вход</a></li>
                            <li class="nav-item"><a href="{% url 'register' %}" class="btn btn-primary">Регистрация</a></li>
                            {% endif %}
                            {% if user.is_superuser %}
                            <li class="nav-item"><a href="{% url 'add_task' %}" class="btn btn-danger">Добавить задание</a></li>
                            <li class="nav-item"><a href="{% url 'add_explanation' %}" class="btn btn-danger">Добавить теорию</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
       <aside class="">
            <h1>Добавление заданий</h1>
           <div class="animated-main">
            <h1>коды для добавления(вписывать в поле grade):</h1>
            <p>6class - добавление на курс 6 класса</p>
            <p>7class - добавление на курс 7 класса</p>
            <p>8class - добавление на курс 8 класса</p>
            <p>9class - добавление на курс ОГЭ/ЕГЭ</p>
               <h1>title - название варианта</h1>
               <h1>description - текст задания</h1>
               <h1>correct answer - верный ответ на задание</h1>
               <h1>чуть ниже возможность добавить фото и видео</h1>
           </div>
		    <button type="button" class="btn btn-primary" onclick="clearForm()">Очистить поля</button>
            <form method="post" enctype="multipart/form-data" autocomplete="off">
                {% csrf_token %}
                {{ course_form.as_p }}
                {% for form in task_forms %}
                <div class="separator"></div>
                    <div>
                        {{ form.as_p }}
                    </div>
                {% endfor %}
                <div class="check-btn">
                    <button type="submit" class="btn btn-primary">Добавить вариант</button>
                </div>
            </form>
        </aside>

        <footer class="animated-footer">
            &copy; 2024 РЕПЕТИ_TOP
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script>
		function clearForm() {
			// Очищаем текстовые поля
			document.querySelectorAll('input[type="text"]').forEach(function(input) {
				input.value = '';
			});

			// Устанавливаем все чекбоксы
			document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
				if (checkbox.id.includes('clear')) {
                checkbox.checked = true;
            }
			});
		}
	</script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var navbarToggler = document.querySelector('.navbar-toggler');
            var navbarCollapse = document.querySelector('.navbar-collapse');

            navbarToggler.addEventListener('click', function () {
                this.classList.toggle('collapsed');
                var isExpanded = this.getAttribute('aria-expanded') === 'true';

                if (isExpanded) {
                    navbarCollapse.style.height = '0px';
                    navbarCollapse.setAttribute('aria-expanded', 'false');
                } else {
                    navbarCollapse.style.height = navbarCollapse.scrollHeight + 'px';
                    navbarCollapse.setAttribute('aria-expanded', 'true');
                }
            });
        });
    </script>
    <script>
			window.onload = function() {
				document.querySelector('form').reset();  // Сбрасываем форму при загрузке страницы
			}
	</script>
</body>
</html>
